$primary-color: #000000;
$secondary-color: #292929;
$font-color: #353535;

$bg-color: #D6D4D4;
$bg-gray-1: #D6D6D6;


$button-color-1: #006D77;
$button-color-2: #83C5BE;
$button-color-3: #402A6C;

// background color
$bg-light:  rgba(147, 107, 232, 0.05);
$bg-light-1:  rgba(255, 255, 255, 0.15);

$iframe-filter:  grayscale(0%);
$widget-bg:  #3f3a64;

// border
$border-color:  #ddd;
$border-light:  #E9E6E3;
$border-radius:  25px;
$border-radius-1:  8px;

// footer
$footer-bg:  #011627;
$footer-light: #011b2f;

//break points
$breakpoints:(
    'extra-large':1200px,
    'small-large': 1035px,
    'large':992px,
    'medium':768px,
    'small':576px,
)