.join-2 {
    .container {
        height: 100vh;
    }
    .content {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .content-avatar {
            .avatar {
                width: 12rem;
                height: 12rem;
                border-radius: 50%;
                background-color: #C4C4C4;
                margin: 0 auto;
            }
            h4 {
                text-align: center;
                margin: 1rem 0;
            }
        }
        .content-wrap {
            text-align: center;
            width: 31%;
            @include responsive('extra-large') {
                width: 50%;
            }
            @include responsive('small') {
                width: 80%;
            }
        }
        .logo-title {
            font-size: 6rem;
            font-weight: 700;
        }
        .title {
            font-size: 2.5rem;
            font-weight: 400;
        }
        .dots {
            display: flex;
            justify-content: center;
            .dot {
                width: 1.5rem;
                height: 1.5rem;
                background-color: #C4C4C4;
                border-radius: 50%;
                margin: 2rem .8rem;
            }
            .active {
                background-color: #868585;
            }
        }
        .form {
            input {
                margin: .5rem 0;
                width: 345px;
                height: 4.5rem;
                border: 2px solid #656565;
                border-radius: 51px;
                padding: 0 2rem;
                &:focus {
                    outline: none;
                }
                
            }
            p {
                margin-bottom: 2rem;
            }
            button {
                background: #330D59;
                border-radius: 20px;
                font-size: 2rem;
                color: white;
                font-weight: 500;
                padding: 1rem 2.5rem;
                margin-top: 1rem;
            }
        }
    }
}