.join-3 {
    .container {
        height: 100vh;
    }
    .content {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .content-wrap {
            text-align: center;
            width: 60%;
            @include responsive('extra-large') {
                width: 75%;
            }
            @include responsive('small') {
                width: 80%;
            }
        }
        .logo-title {
            font-size: 6rem;
            font-weight: 700;
        }
        .title {
            font-size: 2.5rem;
            font-weight: 400;
        }
        .dots {
            display: flex;
            justify-content: center;
            .dot {
                width: 1.5rem;
                height: 1.5rem;
                background-color: #C4C4C4;
                border-radius: 50%;
                margin: 2rem .8rem;
            }
            .active {
                background-color: #868585;
            }
        }
        .content-style {
            display: grid;
            height: 38rem;
            grid-template-columns: repeat(4,1fr);
            grid-gap: 1rem;
            overflow: scroll;
            .content-style-item {
                cursor: pointer;
                position: relative;
                border-radius: 10px;
                img {
                    border-radius: 10px;
                    height: 100%;
                }
                p {
                    position: absolute;
                    color: white;
                    font-weight: 600;
                    bottom: .8rem;
                    left: 0;
                    right: 0;
                }
            }
        }
    }
    
}